body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}

header, footer {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    padding-right: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

header img {
    height: 70px;
}

header ion-icon {
    font-size: 50px;
}

.all-messages{
    width: 100vw;
    font-size: 14px;
    margin: 90px 0;
    padding-bottom: 85px;
    word-break: break-all;
}

.all-messages .message{
    line-height: 14px;
    padding: 10px;
    margin: 5px 0;
}

.msgPublica {
    background-color: #fff;
}

.msgEntrouNaSala {
    background-color: #DCDCDC;
}

.msgReservada {
    background-color: #FFDEDE;
}

.all-messages span {
    margin-right: 4px;
}

footer .msg-e-descricao{
    width: 80%;
    height: 100%;
}

footer input {
    width: 100%;
    padding-top: 20px;
    border:none;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}

footer input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  footer p {
      margin-top: 10px;
      color: gray;
      font-size: 14px;
  }

footer button, header button {
    height: 100%;
    padding: 0 20px;
    border: none;
    background-color: #fff;
}

footer ion-icon {
    font-size: 30px;
}

.name-request {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.name-request img {
    width: 130px;
}

.name-request input{
    width: 85%;
    height: 54px;
    text-align: center;
    letter-spacing: 1px;
    margin: 70px 0 20px 0;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.name-request button{
    width: 100px;
    height: 45px;
    color: #696969;
    background-color: #E7E7E7;
    border: 1px solid #696969;
    border-radius: 4px;
}
.name-request span{
    color:red;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}

.options-bar {
    width: 75%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 50;
    overflow-y: scroll;
}

.options-bar p {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 40px 60px;
}

.visibility {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-contacts{
    word-break: break-all;
}

.all-contacts span, .visibility span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.contact {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact > ion-icon, .visibility > ion-icon {
    font-size: 18px; 
    color: #28BB25;
    display: none;
}

.contact.selecionado > ion-icon, .visibility.selecionado > ion-icon {
    display: inline;
}

.name, .status {
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    position: fixed;
    top: 0;
    left:0
}

.gray {
    color: gray;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}